.app{
  background-color: #fafafa;
}
.app__header{
  object-fit: contain;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px 20px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
div>p{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.app__headerImage{
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.app__modal{
  margin-right: auto;
  margin-left: auto;
}
.modal__input{
  margin-bottom: 20px !important;
}
.app__logout{
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.app__signUp{
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.app__signIn{
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.app__form{
  display: flex;
  flex-direction: column;
}
.app__posts{
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.app__postRight{
  margin-left: 20px;
}
@media (max-width:914px){
  .app__postRight{
    display: none
  }
}